<!DOCTYPE html>
<html>
<head>
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"> -->
    <title>Transactions Summary</title>
    <!-- <script src="https://cdn.plot.ly/plotly-latest.min.js"></script> -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div id="plot"></div>
    <script>
        function updatePlot() {
            $.ajax({
                url: "/plot_data",
                type: "GET",
                success: function (data) {
                    var img = "<img src='" + data + "'/>";
                    $("#plot").html(img);
                },
                complete: function () {
                    setTimeout(updatePlot, 60000); // Update plot every 60 seconds
                }
            });
        }

        $(document).ready(function () {
            updatePlot();
        });
    </script>
</body>
</html>
